
@import "tailwindcss";

@theme {
  --color-maintext: #121212;
  --color-subtext: #404040;
  --color-background: #FFF9F4;
  --color-outline: #EDEDED;
  --color-primary: #171717 ;
  --color-primary-bg : #F0F7FE;
  --color-success: #00A63E;
  --color-success-bg : #F0FDF4; 
  --color-warning: #E17100;
  --color-warning-bg : #FEF3C6;
  --font-sans: 'Satoshi', ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, monospace;
}

body {
  font-family: var(--font-sans), sans-serif;
}

* {
  font-family: var(--font-sans), sans-serif;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.3s ease-out;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

